/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}/* At the top level of your code */
@media screen and (min-width: 900px) {
  article {
    padding: 1rem 3rem;
  }
}

/* Nested within another conditional at-rule */
@supports (display: flex) {
  @media screen and (min-width: 900px) {
    article {
      display: flex;
    }
  }
}
html {
  font-family: Helvetica;
}

body {
  background-color: #5CA2BC
}
.container h1
{
    width: 250px;
    height: 170px;
    margin: 100px auto;
    background: #5CA2BC;
    position: relative;
}
p {
    border-style: solid;
    border-color: #FFFFEE;
    background-color: #FFFFEE;
    border-width: 12px;
    font-size: 20px;
    font-family: Lucida;
    text-align: left;
    /*width: 700px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 25%;
    margin-right: 25%; */
    overflow: auto;
}
h1 {/*FLORENCIO A. DURAN*/
    border-style: solid;
    border-color: #FFFFEE;
    background-color: #5CA2BC;
    border-width: 10px;
    text-align: center;
    font-size: 35px;
    color: #FFFFEE;
    font-weight: normal;
    text-align: center;
    padding-top: 100px;
    /* padding-bottom: 100px; */
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    width: 265px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
    }

h2 {
    color: #FFFFEE;
    font-weight: normal;
    text-align: left;
    font-size: 38px;
    margin-top: 20px;
    margin-left: 0%;
}
h3 {/*buttons*/
    border-style: solid;
    border-color: #FFFFEE;
    background-color: #FFFFEE;
    border-width: 12px;
    margin: 10px auto 10px auto;
    text-align: left;
    margin-left: 11%;
    margin-right: 11%;
    overflow: auto;
    text-align: center;
}
h4 {
    text-align: center;
}
h5 {
    text-align: center;
}
img {
	display:block;
	max-width: 100%;
    border-style: solid;
    border-color: #FFFFEE;
    background-color: #FFFFEE;
    border-width: 12px;
    overflow: auto;
}
.images {
	display: flex;
}
.images li{
	flex: 1 1 150px;
}
table{
    overflow: auto;
}
